################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PayrollWebsite/bin/Debug/netcoreapp2.0
/obj/Docker
/.vs/PayrollWebsite/v15
/PayrollWebsite/obj
